.landpage
    background-color: white
    +mq('960px', max)
        .copyright
            display: none
    .main
        align-items: flex-start 
        justify-content: flex-start
        padding-bottom: 0
        padding-top: 35px
    .header
        >.container
            max-width: 935px
            padding-left: 5px
            padding-right: 5px
            +mq('768px', max)
                padding-left: 30px
                padding-right: 30px